
  nav {
    margin-top: 0;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    height: 50px;
    justify-items: center;
    align-content: center;
  }
  
  nav ul li a {
    display: flex;
    text-align: center;
    padding: 0 30px;
    text-decoration: none;
    align-items: center;
    color: black;
  }
  
  nav ul li:hover {
    background-color: #f0f0f0;
  }

  nav ul li:first-child {
    margin-right: auto;
  }
  